.layout {
    background: #fff;
}

.my-layout {
    overflow: hidden;
    flex: 1;
    min-width: 1200px;
}

.header {
    height: 60px;
    flex-shrink: 0;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}

.logo {
    align-items: center;

    .ant-image {
        margin-right: 20px;
    }

    .ant-image-img {
        height: 30px;
    }
}

h3,
h5 {
    margin: 0;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.ant-menu-root {
    flex: 1;
    overflow: auto;
}

.ant-layout-has-sider>.ant-layout {
    overflow-x: hidden;
}

.collapsed-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8px;
    background-color: rgb(247, 248, 250);
    color: #1677ff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    right: 8px;
    border-radius: 4px;
}
.collapsed-btn.collapsed {
    margin: 10px;
    margin-bottom: 0px;
}
.collapsed-btn:hover {
    background-color: rgb(222, 223, 226);
}