body{
    --primary-1: 255,236,227;
    --primary-2: 255,210,190;
    --primary-3: 255,179,146;
    --primary-4: 255,158,115;
    --primary-5: 255,71,0;
    --primary-6: 255,128,72;
    --primary-7: 255,84,9;
}